{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load urlify %}
{% block head_title %}
    {{ instance.title }} | {{ block.super }}
{% endblock head_title%}
{% block content %}
<div class="col-sm-6 col-sm-offset-3">
{{ object }}


    <p class="mb-0">{{ comment.content }} </p>
    <footer class="blockquote-footer"> {{ comment.user }}, {{comment.timestamp|timesince }} ago |
        {% if comment.children.count > 0 %}{{ comment.children.count}}
        Comment{% if comment.children.count > 0 %}s{% endif %} |{% endif %}
    
    <!--second form inside for the replied to comments , used this class before col-md-12 offset-md--->
    <div>
        {% for child_comment in comment.children %}
            <blockquote>
                <p>{{ child_comment.content }}</p>
                <footer class="blockquote-footer">via {{ child_comment.user }} | {{child_comment.timestamp|timesince }} ago</footer>
            </blockquote>
        {% endfor %}

        <form method="POST" action="." >{% csrf_token %}
            {{ form|crispy }}
            <input type="hidden" name="parent_id" value="{{ comment.id }}">
            <input type="submit" value="Reply" class="btn btn-secondary">
        </form>
    </div>


    <hr/>

</div>
{% endblock content%}

