{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load urlify %}
{% block head_title %}
    {{ instance.title }} | {{ block.super }}
{% endblock head_title%}
{% block content %}
<div class="col-sm-6 col-sm-offset-3">

<h2>Post detail</h2>
    <p>
        {% if instance.image %}
            <img src="{{ instance.image.url }}" class="img-responsive img-thumbnail" /><br/>
        {% endif %}
        Number {{ instance.id }} : {{ instance.title }}<br/>
        Status =
        {% if instance.draft %}
            <span style="color:red;">Draft</span>
        {% else %}
            Published
        {% endif %}
        <br><hr/>
        {{ instance.get_markdown | truncatewords_html:8 }}
        <small class="text-muted"> On : {{ instance.create_date }}<br/>
            Updated: {{ instance.update_date }}<br/></small>
    </p><hr/>
    {% if instance.user.get_full_name %}
        <p>Author: {{ instance.user.get_full_name }}</p>
    {% else %}
        <p>{{ instance.user.name }}</p>
    {% endif %}
    <hr/>
    {# request.build_absolute_uri #}
    {# share_string #}Share string:
    {{ instance.content|truncatechars:20|urlify }}<br/>

    <!--Comments as property: see RA version-->

    <p><div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
        <span class="fb-comments-count" data-href="{{ request.build_absolute_uri }}"></span>
    <div>
        <hr/>
        <p class="lead"><h3>Comments</h3></p>
        <form method="POST" action="." >{% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="Post comment" class="btn btn-secondary">
        </form>
        {% for comment in comments %}
            <blockquote class="blockquote">
                <p class="mb-0">{{ comment.content }} </p>
                <footer class="blockquote-footer"> {{ comment.user }}, {{comment.timestamp|timesince }} ago.</footer>
                <form method="POST" action="." >{% csrf_token %}
                    {{ form|crispy }}
                <input type="hidden" name="parent_id" value="{{ comment.id }}">
                <input type="submit" value="Reply" class="btn btn-secondary">
        </form>
            </blockquote><hr/>
        {% endfor %}

    </div>
    <hr/>

    <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}"> Facebook </a>
    <a href="https://twitter.com/home?status={{ instance.content|truncatechars:80|urlify  }}%20{{ request.build_absolute_uri }}">
         Twitter</a>
    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&
        title={{ instance.title }}%20&summary={{ instance.content|truncatechars:80|urlify  }}%20&source={{ request.build_absolute_uri }}">
         Linkedin</a>
</div>
{% endblock content%}

